<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h3>Available Cases:</h3>
    <div style="display: table;">
        <div style="display: table-row; font-weight: bold;">
            <div style="display: table-cell;">Case ID</div>
            <div style="display: table-cell;">Timestamp</div>
        </div>
        <div wicket:id="wrapper">
            <div wicket:id="cases" style="display: table-row;">
                <div style="display: table-cell; cursor: pointer;" wicket:id="caseID"></div>
                <div style="display: table-cell;" wicket:id="timestamp"></div>
            </div>
        </div>
    </div>
    <h3>Current Case: #<span wicket:id="currentCase"></span></h3>
    <div style="display: table;">
        <div style="display: table-row;">
            <div wicket:id="personPanel42" style="display: table-cell"></div>
            <div wicket:id="personPanel12" style="display: table-cell"></div>
        </div>
    </div>
</wicket:panel>
